@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}


.SVGGreen {
  filter: brightness(0) saturate(100%) invert(71%) sepia(26%) saturate(440%) hue-rotate(62deg) brightness(95%) contrast(90%);
}

.SVGGrey {
  filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(92%) contrast(99%);
}

.SVGBlack {
  filter: brightness(0) saturate(100%) ;
}

.SVGWhite{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(101%) contrast(101%);
}