@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:400,600|Roboto+Flex:400|Roboto:500|Crimson+Pro:400");

* {
    box-sizing: border-box;
}

:root {
--font-size-l: 15px;
    --font-size-m: 14px;
    --font-size-s: 13px;
    --font-size-xl: 18px;
    --font-size-xs: 10px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 28px;

    --font-family-crimson_pro: "Crimson Pro", Helvetica;
    --font-family-kumbh_sans: "Kumbh Sans", Helvetica;
    --font-family-kumbh_sans-medium: "Kumbh Sans-Medium", Helvetica;
    --font-family-min_icon_square-bold: "Min Icon Square-Bold", Helvetica;
    --font-family-roboto: "Roboto", Helvetica;
    --font-family-roboto-regular: "Roboto-Regular", Helvetica;
    --font-family-roboto_flex: "Roboto Flex", Helvetica;
}