.photoFeed{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photoBody{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 5.25vh;
    overflow: scroll;
}

.photoBodyList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.photoBody>ul>li{
    margin: 0;
    object-fit: cover;
    width: 50vw;
    height: 30vh;
    border: 2px solid white;
}

.feedImage{
    object-fit: cover;
    width: 50vw;
    height: 30vh;
}