button.tag{
    font-size: 2vh;
    min-width: 20vw;
    border-radius: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;

    color : grey;
    background-color: white;
    border: 0.3vh solid grey ;
    font-family: var(--font-family-kumbh_sans);
}

button.tag-checked {
    color: #429600;
    border: 0.3vh solid #429600;
}

