button.symbolTag {
    min-width: 15vw;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

    color: grey;
    background-color: white;
    border: 0.2vh solid grey;
    font-family: var(--font-family-kumbh_sans);
}

img.symbolTagImage{
    height: 2.5vh;
}

button.symbolTag-checked {
    color: #429600;
    border: 0.2vh solid #429600;
}

img.symbolTag-checked {
    filter: brightness(0) saturate(100%) invert(44%) sepia(27%) saturate(3256%) hue-rotate(62deg) brightness(91%) contrast(101%);
}