.search-bar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    white-space: nowrap;
    width: 100vw;
    height: 12vw;
    background-color: white;
    margin-bottom: 0.5vh;
}
  
.searchField {
    background-color: #E4E4E4;
    height: 70%;
    border-radius: 2vh;
    display: flex;
    width: 75vw;
    margin: 2vh 2vw 1vh 2vw;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    flex-grow: 3;
}

.searchBarText{
    color: #B6B6B6;
    font-size: 2vh;
    margin-left: 2vw;
}
